# Ignore all files and folders that end with ".xlsx" to protect my privacy
#leaving other formats alone (e.g. .xlsm) so I can share templates
*.xlsx
#Ignore all files and folders that end with ".DS_Store"
*.ds_store